main{
    color:  rgb(16, 98, 16);
}

p{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 25px;
    padding-right: 25px;
    padding-left: 25px;
}
ul{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
li{
    padding-top: 10px;
}